@tailwind base;
@tailwind components;
@tailwind utilities;

.anticon svg {
  vertical-align: unset;
}

.ant-picker-ok .ant-btn {
  background-color: #0958d9;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.ant-switch {
  background: rgba(0, 0, 0, 0.25);
}
